---
Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-security.VAList,
  clang-analyzer-unix.Malloc,
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-multiple-statement-macro,
  bugprone-not-null-terminated-result,
  bugprone-sizeof-expression,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-string-compare,
  bugprone-unused-return-value,
  bugprone-unsafe-functions,
  cert-err33-c,
  cert-exp42-c,
  cert-sig30-c,
  concurrency-mt-unsafe,
  misc-misleading-bidirectional,
  misc-misleading-identifier,
  misc-misplaced-const,
  misc-redundant-expression,
  portability-*,
  readability-braces-around-statements,
  readability-duplicate-include,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-preprocessor,
  readability-simplify-boolean-expr,
  clang-diagnostic-strict-prototypes,
  clang-diagnostic-unused-*

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.StaticVariablePrefix
    value: s_
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

WarningsAsErrors: '*'
FormatStyle: file
HeaderFilterRegex: ".*"