
# Version 14
BasedOnStyle: LLVM
Language: C
IndentWidth: 4
ContinuationIndentWidth: 4

ColumnLimit: 0
LineEnding: LF
PointerAlignment: Left
AlignAfterOpenBracket: false

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
