
#.vscode folder
**.vscode

## Visual studio folder
**.vs

# Binaries
/bin/
/build/

# build reflection
include/pal/pal_config.h

# MakeFiles
Makefile
**.make

#  Visual studio files
**.sln
**.slnx
**.filters
**.user
**.vcxproj

# docs
docs/**html

# ppm files
**.ppm
